//Helper

.pageOne,
.pageTwo,
.pageThree {
  transform: translateX(-1000%);
  position: absolute;
  visibility: hidden;
  transition: all 0.4s;
}

.isOpen {
  transform: translateX(0%);
  position: relative;
  visibility: visible;
}
