//Helper

.pageOne {
  transform:translateX(-1000%);
  position:absolute;
  visibility:hidden;
  transition: all 0.4s;
}

.pageTwo {
  transform:translateX(-1000%);
  position:absolute;
  visibility:hidden;
  transition: all 0.4s;
  background-color: grey;
}

.isOpen {
  transform:translateX(0%);
  position:relative;
  visibility: visible;
}