//Helper

.pageOne,
.pageTwo,
.pageThree {
  transform: translateX(-1000%);
  position: absolute;
  visibility: hidden;
  transition: transform 0.4s ease;
}

.isOpen {
  transform: translateX(0%) ;
  position: relative;
  visibility: visible;
}
